* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #cc208e;
}

.div{
background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
width: 100vw;
height: 100vh;
/* overflow:hidden !important; */

}
.neonText {
    color: rgb(0, 0, 0);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        
        font-family: 'Pacifico', cursive;
    }
.head h1{
    font-size: 5rem;
}
.head h2{
    font-size: 2rem;
    text-decoration: underline;
    
}

.form-control:focus {
    color: #000000;
    background-color: rgb(255, 174, 174);
    border-color: #86b7fe;
    outline: none;
    box-shadow: none;
}
#getAnswer:focus-visible {
    outline: none;
}
#getAnswer:focus{
    color: #000000;
    background-color: rgb(255, 174, 174);

}
.op{
    font-size: 1.3rem;
}
.op input:focus{
    background-color: #eadaff;
    outline: none;
}
.op input{
    border: 2px solid rgb(34, 123, 255);
    outline: none;
    padding:0 9px ;
}
.btnop{
    background-color:#15154e !important;
    color:yellow !important;
}
.btnop:hover{
    background-color:#b9ff37 !important;
    color:rgb(0, 0, 0) !important;
}
.ansop{
    background-color:#15154e !important;
    color:rgb(255, 255, 255) !important;
}
.result{
    position: absolute;
top: 30%;
left: 25%;
}
@media screen and (max-width: 600px){
    .result{
        position: absolute;
    top: 21%;
    left: 25%;
    height: auto !important;
    }
}

